
<div class="form-group">
    <input
    [class.is-invalid]='ngControl.touched && ngControl.invalid'
     [formControl]="ngControl.control"  
     placeholder="{{label}}"
      type="{{type}}" 
     class="form-control my-2">

     <div class="invalid-feedback" *ngIf="ngControl.control.errors?.required">
         please enter a {{label}}
     </div>

     <div class="invalid-feedback" *ngIf="ngControl.control.errors?.minlength">
        {{label}} must be at least {{
            ngControl.control.errors?.minlength['requiredLength']
        }} characters
    </div>

    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.isMatching">
       Passwords do not match
    </div>
   
 </div>
