
<div  class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" 
            alt="{{member.knownAs}}" class="card-img-top img-thumbnail">

            <div class="card-body">
  <div>
      <strong> Location:</strong>
      <p> {{member.city}}, {{member.country}}</p>
  </div>
  <div>
    <strong> Age :</strong>
    <p> {{member.age}}</p>
</div>
<div>
    <strong> Last Active:</strong>
    <p> {{member.lastActive | timeago}}</p>
</div>
<div>
    <strong> Member Since:</strong>
    <p> {{member.created | date :'dd MMM yyyy'}}</p>
</div>


            </div>

            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button (click)="selectTab(3)"  class="btn btn-success">Message</button>

                </div>
            </div>
        </div>
    </div>

    <div class="col-8">

        <tabset  #memberTabs class="member-tabset">
            <tab (selectTab)="onTabActivated($event)" heading='About {{member.knownAs}}'>
                <h4> Description</h4>
                <p> {{member.introduction}}</p>
                <h4> Looking for</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab (selectTab)="onTabActivated($event)"  heading='Intersets'>
                <h4> Intersets </h4>
                <p> {{member.interests}}</p>
              
            </tab>
            <tab (selectTab)="onTabActivated($event)"  heading='Photos'>
                <ngx-gallery
                [options]="galleryOptions"
                [images]="galleryImages"
                class="ngx-gallery"
                style="display: inline-block; margin-bottom: 20px; "
                >


                </ngx-gallery>
               
            </tab>
            <tab (selectTab)="onTabActivated($event)"  heading='Messages'>
               <app-member-messages 
               [username]="member.username"
               [messages]="messages">

               </app-member-messages>
                
            </tab>

        </tabset>
    </div>




</div>