<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">
        <a class="navbar-brand" href="#">DatingApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul *ngIf="loggedIn" class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" > Matches<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Lists</a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link">Messages </a>
              </li>


          
            
          </ul>

          <div  *ngIf="loggedIn" dropdown class="nav-item dropdown ml-auto">
            <a class="nav-link  dropdown-toggle" id="navbarDropdown" dropdownToggle role="button" >
              Welcome user
            </a>
            <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a  class="dropdown-item" >Edit profile</a>
           
              <div class="dropdown-divider"></div>
              <a  class="dropdown-item" (click)="logout()" >Logout</a>
            </div>
          </div>
          <form autocomplete="off" *ngIf="!loggedIn" #loginForm="ngForm"  (ngSubmit)="login()"  class="form-inline ml-auto my-2 my-lg-0">
            <input  [(ngModel)]="model.username"   name="username" class="form-control mr-sm-2" type="text" placeholder="Username"  aria-label="Username">
            <input  [(ngModel)]="model.password"   name="password"  class="form-control mr-sm-2" type="password" placeholder="password" aria-label="password">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login </button>
          </form>
        </div>
    </div>
    
  </nav>
